.footer {
  display: flex;
  padding: 10px;
  background-color: #1f1f1f;
  color: #EAF4F6;
  min-height: 100px;
  align-items: center;
  justify-content: space-between;
  font-family: Inter;
}

.footer__columns {
  margin: 0 auto;
  width: 90%;
  display: flex;
  justify-content: space-between;
}

.footer__column_content_copyright {
  flex-basis: 711px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
.footer .logo {
  width: 183px;
  height: 35px;
}

.logo_place_footer {
  align-self: flex-start;
}

.footer__column_content_author {
  margin-bottom: 18px;
  margin-left: 0px;
  margin-top: 131px;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
}

.footer__list {
  padding: 0;
  margin: 0;
}
.footer_avisos {
  list-style: none;
  text-decoration: none;
  margin: 0;
}
.footer__column-heading {
  line-height: 30px;
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 20px;
}

.footer_content_social {
  display: flex;
  flex-direction: column;
}
.footer__social-icons {
  width: 16px;
  height: 16px;
  margin-right: 10px;
}

.footer_avisos-termos-link {
  font-size: 20px;
  font-weight: 400;
  color: #EAF4F6;
  text-decoration: underline;
}