.footer {
  display: flex;
  padding: 10px;
  background-color: #1f1f1f;
  color: #EAF4F6;
  min-height: 100px;
  align-items: center;
  justify-content: space-between;
  font-family: Inter;
}

.footer .logo {
  width: 183px;
  height: 35px;
}

.footer_avisos {
  list-style: none;
  text-decoration: none;
}

.footer_avisos-termos{
  margin-top:15px;
  color: white;
  text-decoration: none;
}

.footer_content_social {
  display: flex;
  flex-direction: column;
}
.footer__social-icons {
  width: 16px;
  height: 16px;
  margin-right: 10px;
}

.footer_avisos-termos-link {
  font-size: 20px;
  font-weight: 400;
  color: #EAF4F6;
  text-decoration: underline;
}