.main-section {
  padding-top: 200px;
  background: url("../images/background.png") center/cover;
  height: 100vh;
  color: #EAF4F6;
  text-align: center;
  font-family: Inter;
  background-attachment: fixed;
}

.main__title {
  font-size: 36px;
  font-weight: 900;
  text-transform: uppercase;
}

.apostas {
  max-width: 70vw;
  max-height: 90vh;
  overflow-y: auto;
  margin: 0 auto;
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.apostas::-webkit-scrollbar {
  width: 12px;
}

.aposta-card {
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 10px;
  padding: 15px;
  margin-bottom: 20px;
  width: calc(33.33% - 20px);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.aposta__type {
  color: #0397AB;
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 8px;
}

.aposta__league {
  margin: 0;
  color: #F7F7F7;
  font-size: 18px;
}

.aposta-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0;
  align-items: center;
}

.aposta-options {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
}

.time-btn {
  background-color: transparent;
  border: none;
  box-shadow: 0 0 10px 5px rgba(133, 151, 153, 0.5);
  border-radius: 10px;
  cursor: pointer;
  padding: 10px 20px;
  margin-top: 5px;
  color: #F7F7F7;
  font-size: 20px;
  font-weight: 700;
  box-sizing: border-box;
}

.time-btn:hover {
  border: none;
  background-color: #0397AB;
  box-shadow: 0 0 10px 5px rgba(3, 151, 171, 0.5);
}

.vs {
  margin: 8px;
  font-size: 16px;
  font-weight: 700;
}
.aposta__win-percentage{
  color: #F7F7F7;
  font-size: 16px;
  font-weight: 300;
}
@media (max-width: 960px) {
  .aposta-card {
    width: calc(50% - 20px);
  }
}

@media (max-width: 560px) {
  .main-section {
    padding-top: 200px;
    font-size: 16px;
  }

  .aposta-card {
    width: 100%;
    margin-right: 0;
  }

  .apostas {
    justify-content: flex-start;
  }

  .aposta__type,
  .aposta__league,
  .odd,
  .vs {
    font-size: 18px;
  }

  .aposta-options,
  .aposta-info {
    width: 100%;
    text-align: center;
  }

  .aposta-card:nth-child(2n) {
    margin-right: 0;
  }
}