@import url(../styles/normalize.css);
@import url(../styles/inter.css);
@import url(../blocks/navbar.css);
@import url(../blocks/main-section.css);
@import url(../blocks/bets-card.css);
@import url(../blocks/modal.css);
@import url(../blocks/modal-bet.css);
@import url(../blocks/modal-user.css);
@import url(../blocks/modal-deposit.css);
@import url(../blocks/footer.css);

.page {
    margin: 0 auto;
    font-family: "Inter", Arial, sans-serif;
    background-color: #010A13;
    min-height: 100vh;
}


