.main-section {
    padding-top: 200px;
    background: url("../images/background.png") center/cover; 
    height: 100vh;
    color: #EAF4F6;
    text-align: center;
    font-family: Inter;
    /* nao sao todos navs que aceitam */
    background-attachment: fixed; 
}
.main__title{
    font-size: 36px;
    font-weight: 900;
    text-transform: uppercase;
}
/* .apostas {
  max-height: 70vh;
  overflow-y: auto;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between; 
    align-items: left;
    max-height: calc(100vh - 120px);
} */
.apostas {
  max-height: 70vh;
  overflow-y: auto;
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.apostas::-webkit-scrollbar {
  width: 12px;
}
/* .aposta-card {
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 10px;
    padding: 15px 30px;
    margin-bottom: 20px;
    flex: 1; 
    width: 80%; 
    margin: 10px; 
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  } */
  .aposta-card {
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 10px;
    padding: 15px;
    margin-bottom: 20px;
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  
  .aposta-info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0;
    align-items: center;
  }
  .aposta__type {
    font-size: 20px;
    font-weight: 700;
    color: #0397AB;
    margin: 0;
    margin-bottom: 8px;
}
.aposta__win-percentage, 
.aposta__wins,
.aposta__total-games,
.aposta__league  {
  color: #EAF4F6;
    font-size: 16px;
    font-weight: 300;
    margin: 0;
}
  .aposta-options {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 10px; /* Adicionado margem para melhor espaçamento */
  }
  
  /* .time-btn {
    background-color: transparent;
    border: 1px solid white;
    border-radius: 10px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #EAF4F6;
    font-size: 24px;
    font-family: Inter;
    font-weight: 700;
    box-sizing: border-box;
  } */
  .time-btn {
    background-color: transparent;
    border: 1px solid white;
    border-radius: 10px;
    cursor: pointer;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    color:  #0397AB;
    font-size: 20px;
    font-family: Inter;
    font-weight: 700;
    box-sizing: border-box;
  }
  .time-btn:hover {
    background-color: #0397AB;
  }
  
  .vs {
    margin: 0;
    font-size: 24px;
    font-weight: 700;
  }


/* @media (max-width: 1190px) {
    .aposta-card {
        padding: 15px 30px;
    }

    .aposta-options {
        width: 100%;
    }

    .time-btn {
        padding: 10px 40px;
    }
} */
/* 
@media (max-width: 560px) {
  .main-section {
    padding-top: 200px;
    font-size: 16px;
  }

  .aposta-card {
      padding: 15px; 
      max-width: 100%; 
      flex-direction: column;
  }

  .aposta__type,
  .aposta__league,
  .odd,
  .vs {
      font-size: 18px; 
  }

  .aposta-options,
  .aposta-info {
      width: 100%;
      text-align: center;
  }

  .time-btn {
      padding: 10px 20px; 
  }
} */

@media (max-width: 560px) {
  .main-section {
    padding-top: 200px;
    font-size: 16px;
  }

  .aposta__type,
  .aposta__league,
  .odd,
  .vs {
    font-size: 18px;
  }

  .aposta-options,
  .aposta-info {
    width: 100%;
    text-align: center;
  }
}